*, *:before, *:after{
  -webkit-font-smoothing: antialiased;
}
body {
  line-height: 1.2;
  background-color: #f0f0f0;
  color: #000;
  letter-spacing: 0.03em;
}
body, button, a, input {
  font-family: $font-regular;
}

img {
    max-width: 100%;
    height: inherit;
    vertical-align: top;
}
a, button, .btn {
  text-decoration: none;
  color: $blue;
  cursor: pointer;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $blue;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button, a, .btn, input, .form-control {
  font-family: $font-regular;
  &:focus, &:active{
    outline: none;
    box-shadow: none;
  }
}

strong{
  font-family: $font-bold;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a{
  color: $blue;
}




.list-inline {
  margin: 0 -10px;
  display: block;
  li {
    display: inline-block;
    padding: 0 10px;
  }
}

.hide {
  display: none;
}
